<table>
  <tbody>
    <tr>
      <th>Webhook</th>
      <td>
        <input type="text" id="settings_hangouts_chat_webhook" value="<%= settings['hangouts_chat_webhook'] %>" name="settings[hangouts_chat_webhook]" size=120 >
      </td>
    </tr>
  </tbody>
</table>
